<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c2y4qWy+9zfR1D2LHGPtXmDn1x2wV5nVHLCuNbPLku92kswmx1EalZGFyCS0Y4CVC4" crossorigin="anonymous">
</head>
<body>
    {% block main %}{% endblock main %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C89scichPD02hX1v7v7SR3IhQGi70Jz94sbVw/SGVAbCbSG7rUbAV7tQlEo7kT+0"   
    crossorigin="anonymous"></script>
</body>
</html>